* { margin: 0px; padding: 0px; border: 0px;}
div { position:relative; display:block;}
body { 
	overflow-y:scroll; 
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
	background: url(/images/bg.jpg) no-repeat center top, url(/images/bg_gr.jpg) repeat-x rgb(216, 232, 223); }
.abs { position: absolute;}
.full-width { left: 0px; right: 0px; }
#page { 
	width:960px; 
	margin-left:auto; margin-right:auto; 
	padding-top: 160px; padding-bottom: 161px; }
	#header { 
		top: 0px; height: 130px; 
		background: url(/images/logo.png) no-repeat 0 5px; }
	#menu { 
		overflow: visible; 
		top: 125px; height: 38px; z-index: 1001; 
		background:url(/images/menubg.png) repeat-x; 
		border: solid 1px #FFF; border-radius:6px; 
		box-shadow:0 2px 10px 2px rgba(0,0,0,0.3); }


