@font-face {
    font-family: 'alexandra';
    src: url('http://sochidetox.evm/css/alexandra_script-webfont.eot?') format('eot'), url('http://sochidetox.evm/css/alexandra_script-webfont.woff') format('woff'), url('http://sochidetox.evm/css/alexandra_script-webfont.ttf') format('truetype');
}
@media screen {
* { margin: 0px; padding: 0px; border: 0px; -webkit-hyphens:auto; -moz-hyphens:auto; hyphens:auto;}
/*:hover { outline:1px dotted rgba(0,0,0,0.1);}*/
.abs { position: absolute;}
.full-width { left: 0px; right: 0px; }
.hidden { display:none }
.hovered { color: #4e003e; }
div { position:relative; display:block;}
a {text-decoration:none;}
h1{font: 56px alexandra;margin-left: 15px;  color: #490000; text-align: center;}
h2{font: 23px tahoma;margin-left: 15px;  color: #393939;}
h3 { margin-bottom: 15px;font-size: 32px;text-align: left;color: rgb(116, 0, 0); }
hr { border-top: 1px solid rgb(73, 0, 0); margin-top: -20px;margin-left: 15px; margin-bottom: 20px; }
ol li {margin-left:30px;}
table {
  margin-top: 15px;
  margin-left: 15px;
  width: 670px; /* Ширина таблицы */
  border: 2px rgb(232, 225, 215) inset; /* Рамка вокруг таблицы */
  border-collapse: collapse; /* Отображать только одинарные линии */
 }
 th { 
  text-align: left; /* Выравнивание по левому краю */
  background: #E8E1D7; /* Цвет фона ячеек */
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px dotted black; /* Граница вокруг ячеек */
 }
 td { 
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px dotted black; /* Граница вокруг ячеек */
 }
.newshead {
    background: rgb(80, 0, 0);
    color: #F5F2E8;
    height: 56px;
    text-align: center;
    padding-top: 8px;
    font: 20px arial;
    margin-bottom: 30px;
}
.newsfooter {
    text-align: center;
    font-style: italic;
    color: rgb(116, 0, 0);
}
.rightimg {
    float: right;
    margin-left: 15px;
}
.leftimg {
    float: left;
    margin-right: 15px;
    width: 330px;
}
body { overflow-y:scroll;color:#393939; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; background:rgb(245,242,232); }
	#bgimage { height:1320px; background: #fff; z-index:0; }
	.page { width:960px; margin-left:auto; margin-right:auto; padding-top: 160px; background: rgb(245, 242, 232); }
		/*|*/
		.page #header { top: 14px; z-index: 100; height: 130px; background: url(/img/logo.png) no-repeat center 0px; }
		/*|>*/
		.phonepng {
			right: 130px;
			top: 61px;
			width: 49px;
			height: 49px;
			background: url(/img/phone.png) no-repeat;
		}
		/*<|*/
		.phonenum {
			color: rgb(103, 103, 103);
			top: 63px;
			right: 0px;
			font: 16px arial black;
		}
		.phone {
			color: rgb(72, 4, 4);
			font: 16px arial black;
		}
		/*|a[href='/puc']{display: none;}*/

		.page #text .SubMenu {
			margin-left: 33px;
			color: black;
			height: 190px;
			padding-top: 93px;
			margin-top: -82px;
		}
		.page #menu { top: 135px; height: 38px; overflow: visible; z-index: 1001; width: auto; margin-left: auto; margin-right: auto; }
			#menu .menuitem { float:left; cursor:pointer; margin-left: auto; margin-right: auto;}
			.menuitem .skin { height: 40px; top:0; left:0; right:0}
				.menuitem a { text-decoration: none; display: block; height: 18px; font: 17px arial; text-align:center; padding-top:10px; padding-bottom:10px; }
					.menuitem a div{  padding-left: 26px; padding-right: 26px; }
					/*#about.menuitem a  div{  padding-left: 9px; }   */
				.menuitem a.normal { color:#777; }
				.menuitem a.hovered { text-shadow: 1px 1px #fff; color:#051417; }			
				.line{top:12px;height:4px;background:url(/img/stroke.png);}
				.back{top:12px;height:9px;background:rgb(245,242,232); z-index:0;}
				.longshadow{height:9px;background:url(/img/eshadow.png);}
				.shortshadow{height:9px;background:url(/img/mshadow.png);}
				.midshadow{height:9px;background:url(/img/fshadow.png);}
				.indexline{bottom:0;}
			#comments .caption { padding-right: 21px; margin-right:-1px; border-radius:  0 6px 6px 0; }			
		#body { width: 100%;background:rgb(245,242,232); margin-top: 35px; }
			a.center {text-align:center;}
			#SideBar {width: 251px;float: left;}
			#sideMenu .sidemenuitem { margin-bottom:1px;cursor: pointer; width: 100%;}
				
				.sidemenuitem .skin.normal .reserve {background:url(/img/reserve.png) no-repeat;}
				.sidemenuitem .skin.hovered .reserve {background:url(/img/reservehover.png) no-repeat;}
				.sidemenuitem .skin.normal .sideitem {background:url(/img/sideitem.png) no-repeat;}
				.sidemenuitem .skin.hovered .sideitem {background:url(/img/sideitemhover.png) no-repeat;}
				.sidemenuitem .skin .caption {top:10px;left:10px;}
				.sidemenuitem .skin.normal .caption {color:#555;}
				.sidemenuitem .skin.hovered .caption {color:#fff;}
				#reserve .skin.normal .caption {color:#fff;}
				#reserve .skin.hovered .caption {color:#555;}
				.sidemenuitem .skin.normal .submenu {display:none;}
				
				.sidemenuitem .skin, .sidemenuitem .skinred {
						left:0px;right:0;
						height: 99px;
						z-index:102;
					}
				.sidemenuitem a{
					top: 0;
					width:100%;
					z-index:103;
				}
				.sidemenuitem a div{
					padding-top: 8px;
					font: 14px arial;
					color: #fff;
					height: 35px;
				}
				.submenuitem .skin {
					left:0px;right:0;
					height: 51px;
					z-index:102;
				}
				.decor {
					z-index:20000;
					bottom: 1px;
					height: 4px;
					background: rgb(210, 202, 186);
				}
				.sideinfo {
					padding-left: 7px;
					float: left;
					bottom: 0px;
					font-size: 18px;
					color: rgb(42, 54, 143);
				}
				.sideinfo a {
					display:block;
					border-bottom:1px dotted;
				}
				.sideinfo a:hover {
					border-top:1px solid;
					border-bottom:1px solid;
				}
				.submenu {
					top:0;
					left:251px;
					width:300px;
					background:rgba(73,0,0,0.8);
				}
				.afoto{float:left;margin-right:1px;}
				.foto1{width:320px;height:148px;background:url(/img/foto1.png);}
				.foto2{width:318px;height:148px;background:url(/img/foto2.png);}
				.foto3{width:318px;height:148px;background:url(/img/foto3.png);}
				.subhr {
					border-top: 1px solid rgb(185, 185, 185);
					margin: 0 4px 4px 4px;
				}
				.subitem {
					height: 30px;
				}
				.subitem a {
					padding-left: 10px;
					z-index: 105;
					height: 22px;
					width: 100%;
					font-size:14px;
				}
				.subitem a.normal div {
					color:#fff;
				}
				.subitem a.hovered div {
					color:#fff;
				}
				.subitem .skin{ height: 30px;
					width: 100%;
					top: 0; 
				}
				#sideMenu .submenu .category {
					padding: 5px 20px;
					font-size: 18px;
					font-style: italic;
					background: rgb(126, 52, 117);
					color: #fff;
					-webkit-box-shadow: 1px 1px 10px #000;
				}
				.subitem .skin.normal{ background:none; color:rgb(105, 0, 122); }
				.subitem .skin.hovered { text-decoration:underline; }
			#content { margin-right: 20px; margin-left: 255px; text-align: justify; min-height:513px}
			#content .foto {z-index: 101;} 
			.shadow {
				margin-top: -2px;
				height: 30px;
				z-index: 100;
			}
			.skin.shadow {
				left: 0px;
				right: 0px;
			}
			.shadow.left {
				left: 0;
				top: 0;
				width: 14px;
				height: 100%;
				background: url(/img/skin/shadow/left.png) right top;
			}
			.shadow.center {
				top: 0;
				left: 14px;
				right: 24px;
				background: url(/img/skin/shadow/center.png) repeat-x;
			}
			.shadow.right {
				right: 0;
				top: 0;
				width: 24px;
				height: 100%;
				background: url(/img/skin/shadow/right.png);
			}
			#content ul{margin-left: 15px;margin-top: 15px;margin-bottom: 15px;}
			#content li{margin-top: 8px;}
				#content a { border-bottom: 1px dotted; cursor: pointer;color: #393939;}
				#content a:hover {border-bottom: 1px solid;	cursor: pointer; color: #c1b6a9;}
				#content a:visited {border-bottom: 1px dashed;	cursor: pointer; color: #9c5454;}
				#content .text { font: 16px arial; text-align: justify; margin-top: -10px;}
					.text p { margin-top: 10px; margin-left: 15px; }
					.text ul { margin-left: 40px; }
					.text li { margin-left: 30px; }
				.img { font: 18px arial; color: rgb(124, 0, 35); }
					.img p { margin-top: 15px; margin-bottom: 5px; }
			.imgholder {text-align:center;}
			#foto { float: left; width: 364px; height: 485px; margin-left: 41px; margin-top: 23px; background: url(/img/foto_face.png); }
			#slogan { float:right; font: 24px arial; padding: 270px 50px 50px; background: url(/img/oskar.png) no-repeat 350px 350px; }
			#sendorder:hover { color: rgb(111, 11, 59); background: url(/img/pendark.png) no-repeat center,url(/img/btnhover.png); }
			.div {padding: 33px 33px 60px; font: 16px arial; text-align: justify;}
				#txt { background: url(/img/txt.png) no-repeat 720px 280px; }
			#gogalery, #gogaleryhover { cursor:pointer; font: 16px arial; color: rgb(231, 233, 239); height: 28px; z-index:102; padding-top: 10px; text-align: center; background: url(/img/menubg.png); border: solid 1px white; border-radius: 6px; box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3); }			
			#gogalery:hover, #gogaleryhover { color: rgb(95, 0, 46); background: url(/img/btnhover.png); }
			.galeryholder {width:100%;padding-bottom:20px;text-align:center;}
			.galeryholder .galeryholder {width: auto;margin: 0 3px;border: 1px dotted rgb(102, 117, 168);padding-bottom: 0;}
			#galerymenu { height: 207px; margin-top: -6px; margin-bottom: 31px; padding: 20px 6px 40px; border-radius: 0 0 6px 6px; background: rgb(230, 185, 216); box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3); }
				.galeryitem { cursor: pointer; padding: 4px; font: 18px arial; text-align: center; float: left; width: 302px; height: 212px; border-radius: 6px; box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3); color: rgb(95, 0, 46); }
				.galeryitem:hover { width: 298px; height: 208px; box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.3); text-decoration: underline; border: solid 2px rgb(126, 3, 106); }
				.galeryitem img { margin-top: 11px; }
				.galeryitem.bg { background: white; }
					/*#galeryface { }*/
					#galerybody { margin-left: 9px; }
					#galerymamm { float: right; }
			.clear { clear: both; }
        .fotos {margin-top: 22px;}
		.footer { bottom: 0px; height: 116px; z-index: 100; background: rgb(232, 225, 215);}
				.footmenu { float: left; color: white; font: 16px arial; margin-left: 15px; margin-top: 15px; }
                .footer a{ color: rgb(77,77,77); text-decoration: underline;}
                .footer a:hover{ color: rgb(123,123,123); text-decoration: none;}
                .footer a:visited{ color: rgb(77,77,77); }
				.footinfo { float: right; color: #777; font: 16px arial; margin-top: 50px; margin-right: 10px;}
		#orderholder { position: fixed; z-index: 2000; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); }
			#orderplace { width: 100%; height: 100%; }
				#orderwindow { top: 50%; left: 50%; margin-left: -325px; margin-top: -225px; width: 650px; height: 450px; background: white; border-radius: 6px 6px 0 0; }
					#orderheader { height: 23px; padding: 4px;color: rgb(255, 255, 255);font: 18px Arial;border: solid 1px rgb(203, 133, 236);background: rgb(87, 38, 105); }
						#closeorder { cursor: pointer;height: 23px;width: 23px;float: right;background: url(/img/closewnd.png); }
						#closeorder:hover { background: url(/img/closewndhover.png); }
					#orderbody {top: 44px; bottom: 0; padding: 12px 28px 10px; font: 16px arial; }
					input[type="text"],  textarea { padding-left:10px;padding-top:4px;border: 1px solid; width: 100%; min-height: 30px; margin-top: 6px; margin-bottom: 6px; font: 16px arial; }
					.text input[type="text"],
                    .text  textarea { padding: 2px;border: 1px solid;width: 400px;min-height: 18px;margin-top: 6px;margin-bottom: 6px;font: 16px arial;border: 1px solid #777; }
                    .text  #data {
                        cursor:pointer;
                        background: url(/img/select.png) no-repeat right #FFF;
                    }
                    .reformname {
                        float: left;
                        width: 235px;
                        text-align: right;
                        padding-right: 20px;
                        padding-top: 10px;
                    }
                    .formitem {margin-top: 3px;}
                    .formitem #data,
                    .formitem #persons,
                    .formitem #apparts {width:100px;}
                    .formsend {cursor:pointer;width:150px;text-align:center;padding-top:10px;margin-left:510px;height:26px;background: #E8E1D7;border-bottom: 1px solid #777;border-right: 1px solid #777;border-top: 1px solid #FFF;border-left: 1px solid #FFF;}
                    .formsend:hover {border-bottom: 1px solid #AAA;border-right: 1px solid #AAA;border-top: 1px solid #EEE;border-left: 1px solid #EEE;}
                    .formsend.down {border-bottom: 1px solid #FFF;border-right: 1px solid #FFF;border-top: 1px solid #777;border-left: 1px solid #777;}
                    .formthanks {position:absolute;color:#740000;text-align: center;margin-top: 200px;}
                    .text  #days {
                        cursor:pointer;
                        -webkit-appearance: none;
                        width:106px;
                        padding: 2px;
                        min-height: 18px;
                        margin-top: 6px;
                        margin-bottom: 6px;
                        font: 16px arial;
                        border: 1px solid #777;
                        background: url(/img/select.png) no-repeat right #FFF;
                    }
					/*.text textarea { resize: vertical; }*/
					textarea { resize: none; height: 115px; }
					#submit { text-align: center; padding-top: 9px; height: 29px; width: 222px; background: url(/img/skin/sidemenuitem.png) center center; font: 18px arial; color: white; }
					#order #submit { float: right; }
					#submit:hover { cursor: pointer;background: url(/img/skin/sidemenuitemhover.png) center center;color: rgb(95, 0, 46); }
	#sidepanel { width: 300px; height: 32px; top: 8px; background: #fff0f0; border-radius: 0 6px 6px 0; }
		#sidepanel.closed { left:-268px; }
	#sidepanel:hover { background: rgb(255, 228, 235); border-top: solid 1px #AB218E; border-bottom: solid 1px #AB218E; border-right: solid 1px #AB218E; box-shadow: 1px 1px 8px -1px rgba(64, 0, 0, 0.6); }
		#login { cursor: pointer; float:right; background: url(/img/keys.png) no-repeat center; width: 32px; height: 32px; }
		#login:hover { border-left: solid 1px #AB218E; }
		#loginpanel { margin-right: 32px; height: 32px; }
			#sidepanel input { height: 24px;min-height: 20px;width: 120px;margin: 3px;padding-left: 5px;padding-top: 0px;font: 14px arial;border: solid 1px rgb(230, 185, 216); }

			.banners {padding-top: 15px;padding-left: 15px;background:#F5F2E8;}
			.bannerlink {width:100%;height:148px;overflow-y:visible;}
			.banners .banner {width:242px;height:141px;padding-top:6px;padding-left:9px;float:left;}
			.banners .banner.normal{background:url(/img/bannormal.png);}
			.banners .banner.hovered{background:url(/img/banhover.png);}
			.banners .capt {padding-top:61px;padding-left:280px;text-decoration:underline;color:#555}
			.banners .bannershadow {bottom:-7px;left:251px;width:413px;z-index:1000;height:7px;background:url(/img/banshadow.png);}
			.banners .bannershadow.normal {display:none;}

.sideMenu {height: auto!important;}

    .topmap {float:left;margin-left: 20px;margin-top: 20px;}
    .mainmap {margin-left: 220px;margin-top: 20px;}
    .topmap a, .mainmap a {display:block;}
    .sublink  { margin-left: 20px; }
    .sublink2 { margin-left: 40px; }
			
#page_questions #email {width:300px;}
#page_questions #submit {margin-left:150px;width:150px;}
.fotorow {display: block;}
.subsectiontitle { margin-left: 26px; }
.galerycontent h3 { font:16px arial; padding-top:4px; border-radius:0px;padding-left:10px; height:22px; border-left: 0;border-right: 0;border-top: 1px dotted rgb(97,97,97);border-bottom: 1px dotted rgb(97, 97, 97); z-index:100;}
.ui-state-default .ui-icon { background:none; }
.ui-state-active .ui-icon { background:none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #eeeeee; font-weight: normal; color: rgb(95, 0, 46); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background:url(/img/sideitem.png);color: #777; font-weight: normal; }
.ui-widget-content { border: none; background: rgba(255, 255, 255, 0.5); color: rgb(95, 0, 46); }
.ui-accordion .ui-accordion-content {padding: 1px 1px;background: rgb(107, 47, 46);}
.ui-accordion .ui-accordion-header {border:none;padding:10px;height:79px;font:14px "Lucida Grande", Helvetica, Arial, sans-serif;}
.ui-datepicker {width: 17em;margin-top: -31px;margin-left: 111px;padding: 0px 0px 0;display: none;z-index: 10000;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background: url(/img/sideitemhover.png);color: white;}
.galeryholder .galeryholder .ui-state-active, .galeryholder .galeryholder .ui-widget-content .ui-state-active, .galeryholder .galeryholder .ui-widget-header .ui-state-active {padding-left:30px;background: #e3edff;}
.ui-widget-content a {color: white;font-size: 12px;display: block;border-bottom: 1px solid rgb(204, 204, 204);padding: 5px 0px 5px 10px;}
.ui-widget-content a:hover, .ui-widget-content a.currentpage {background: rgb(74,0,0);}
.no-p-margin p {margin:0px !important;}

#adminpanel {top:10px;z-index:2000;padding:2px;position:fixed;}
#adminpanel.open { left:-4px; }
#adminpanel.closed { left:-184px; }
#profile {border: 1px solid #85AEE2;background: rgb(201, 209, 218);border-radius: 0 6px 6px 0;box-shadow: 0 0 6px;}
#tools {margin-top: 4px;width: 146px;border: 1px solid #85AEE2;background: rgb(201, 209, 218);border-radius: 0 6px 6px 0;box-shadow: 0 0 6px;}
#tools select {cursor:pointer;max-width: 142px;min-width: 66px;margin: 4px;height: 28px;padding: 4px;background: url(/img/select.png) no-repeat right #EEE;-webkit-appearance: none;float:left;}
#fontface {width: 138px;}
.toolbutton {cursor:pointer;float: left;width: 32px;height: 32px;margin: 2px;background: url(/img/toolss.png);}

							 	#undo { background-position: -164px -4px;  }
								#redo { background-position: -124px -4px;  }
							#logout { background-position: -284px -44px; }
						#savepage { background-position: -204px -4px;  }		 
					 #dockpanel { background-position: -244px -4px;  }
			 #escapechanges { background-position: -44px  -4px;  }
								#bold { background-position: -4px   -84px; }
							#italic { background-position: -44px  -84px; }
#insertHorizontalRule { background-position: -124px -164px;}
			 #strikeThrough { background-position: -124px -84px; }
					 #underline { background-position: -84px  -84px; }
				 #justifyFull { background-position: -124px -124px;}
				 #justifyLeft { background-position: -4px   -124px;}
			 #justifyCenter { background-position: -44px  -124px;}
				#justifyRight { background-position: -84px  -124px;}
							#indent { background-position: -164px -164px;}
						 #outdent { background-position: -204px -164px;}
		#increaseFontSize { background-position: -244px -84px; }
					 #subscript { background-position: -244px -204px;}
				 #superscript { background-position: -284px -204px;}
		#decreaseFontSize { background-position: -284px -84px; }
					 #foreColor { background-position: -284px -4px;  }
					 #backColor { background-position: -244px -44px; }
				 #insertImage { background-position: -204px -44px; }
	 #insertorderedlist { background-position: -244px -164px;}
					#createlink { background-position: -44px  -44px; }
							#unlink { background-position: -84px  -44px; }
 #insertunorderedlist { background-position: -284px -164px;}
 					 #floatLeft { background-position: -4px   -164px;}
 					#floatRight { background-position: -44px  -164px;}

.colorpicker {top:32px;width: 258px;height: 162px;padding-left:2px;padding-top:2px;background: #EEE;z-index:2;}
.colorsample {width: 30px;height: 30px;margin-right: 2px;margin-bottom: 2px;background: #000;float: left;}

.c00{background: #000;}
.c01{background: #222;}
.c02{background: #444;}
.c03{background: #666;}
.c04{background: #888;}
.c05{background: #AAA;}
.c06{background: #CCC;}
.c07{background: #EEE;}

.c10{background: #fff;}
.c11{background: #f77;}
.c12{background: #f7f;}
.c13{background: #77f;}
.c14{background: #7ff;}
.c15{background: #7f7;}
.c16{background: #ff7;}
.c17{background: #F70;}

.c20{background: #f00;}
.c21{background: #B00;}
.c22{background: #700;}
.c23{background: #400;}
.c24{background: #f0f;}
.c25{background: #b0b;}
.c26{background: #707;}
.c27{background: #404;}

.c30{background: #0f0;}
.c31{background: #0b0;}
.c32{background: #070;}
.c33{background: #030;}
.c34{background: #ff0;}
.c35{background: #bb0;}
.c36{background: #770;}
.c37{background: #430;}

.c40{background: #00f;}
.c41{background: #00b;}
.c42{background: #007;}
.c43{background: #003;}
.c44{background: #0ff;}
.c45{background: #0bb;}
.c46{background: #077;}
.c47{background: #034;}

.linkform{width:308px;top:32px;padding:6px;box-shadow:0 0 4px;background:#EEE;z-index: 2;}
#linkurl{margin:0; width:256px; float:left;}
#linkapply{margin-left:6px;background-position: -84px -4px;}
#content[contenteditable="true"] .img.selected { outline: 2px dotted #999; }

}

@media print { 
.noprint, #gogalery{ display:none; } 
p {margin:0px !important;} 
#content {width:100%;top:0;left:0;}}
.no-p-margin {margin-top:100px !import