* { margin: 0px; padding: 0px; border: 0px;}
div { position:relative; display:block;}
body { font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; background: url(/images/bg.jpg) no-repeat center top, url(/images/bg_gr.jpg) repeat-x rgb(216, 232, 223); }
	#page { width:960px; margin-left:auto; margin-right:auto; padding-top: 189px; padding-bottom: 161px; }
		#header { position: absolute; left: 0px; right: 0px; top: 0px; height: 151px; background: url(/images/logo.png) no-repeat 0 29px; }
		#menu { position: absolute; top: 152px; left: 0px; right: 0px; height: 38px; overflow: visible; z-index: 100; background:url(/images/menubg.png) repeat-x; border: solid 1px #FFF; border-radius:6px; box-shadow:0 2px 10px 2px rgba(0,0,0,0.3); }
			.menuitem { float:left; }
				.caption { height: 18px; font: 16px arial; color: #BBB; text-align:center; padding-top:10px; padding-bottom:10px; }
				.menuitem:hover .caption { height: 18px; color: #444; background:url(/images/btnhover.png) repeat; border-left:solid 1px #fff; border-right:solid 1px #fff; }
				.submenu { width: 300px; height: 400px; background: rgba(255, 255, 222, 0.5); box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3); }
				.menuitem .submenu { display:none; }
				.menuitem:hover .submenu { display:block; }
			#doctor { width: 258px; }
				#doctor .caption { padding-left: 21px; margin-left: -1px; border-radius: 6px 0 0 6px; }
			#operations { width: 198px; }
			#contacts { width: 135px; }
			#questions { width: 230px; }
			#comments { width: 137px; }
				#comments .caption { padding-right: 21px; margin-right:-1px; border-radius:  0 6px 6px 0; }
		#body { width: 100%; background: rgba(255, 255, 255, 0.6);}
			#sidemenu { width: 260px; height: 485px; float: left; }
			#content { width: 700px; margin-left: 260px; clear: right; }
			.clear { clear: both; }
		#footer { position: absolute; left: 0px; right: 0px; bottom: 0px; height: 161px; z-index: 100; }
			#foot { height: 78px; background:url(/images/footerbg.png) repeat; border: solid 1px #FFF; border-radius:6px; box-shadow:0 2px 10px 2px rgba(0,0,0,0.3); padding:23px 33px 0px; }
				#footmenu { float: left; color: white; font: 16px arial; }
				#footmenu a{ color: white; }
				#footmenu a:hover{ color: #AAA; }
				#footmenu a:visited{ color: white; }
				#contactinfo { float: right; color: white; font: 16px arial; }